spring:
  application:
    name: book-service
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest

  datasource:
    url: jdbc:h2:mem:bookdb
    username: book
    password: book

  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    serviceUrl:
      defaultZone: http://myhost:8761/eureka/

logging:
  level:
    com:
      jdum:
        booking: INFO

client:
  fares:
    service: apigateway
    requests:
      get: fares/get
