spring:
  application:
    name: apigateway
eureka:
  client:
    serviceUrl:
      defaultZone: http://myhost:8761/eureka/
zuul:
  ignored-services: '*'
  routes:
    search-service:
      serviceId: search-service
      path: /api/flights/**
